<nav class="bg-gray-200 py-2">
  <div class="container flex items-center gap-4 w-full">
    <a href="#" class="text-gray-800 font-semibold text-xl block whitespace-nowrap pr-4">Recipe Book</a>
    <div class="flex justify-between items-center w-full">
      <ul class="flex-1 flex gap-6">
        <li><a href="">Recipes</a></li>
        <li><a href="">Shopping List</a></li>
      </ul>
      <div class="relative group">
        <a class="block" href="">Manage</a>
        <ul class="hidden absolute bg-gray-200 max-w group-hover:block pt-4">
          <li class="hover:bg-gray-300 px-2"><a class="" href="">Edit</a></li>
          <li class="hover:bg-gray-300 px-2"><a class="" href="">Edit</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
