<form class="flex flex-col gap-4 w-1/2" action="">
  <div class="flex gap-4">
    <!-- TODO: need to  add formControlName="control"  -->
    <div class="flex flex-col gap-2 w-full">
      <label for="name">Name</label>
      <input class="border p-2" type="text">
    </div>
    <div class="flex flex-col gap-2 w-full">
      <label for="amount">Amount</label>
      <input class="border p-2" type="number">
    </div>
  </div>
  <div class="flex gap-2">
    <button type="submit" class="btn btn-green">Add</button>
    <button class="btn btn-red">Delete</button>
    <button class="btn btn-blue">Clear</button>
  </div>
</form>
